<%= simple_form_for(@import) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :file, :as => :file %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
